option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "utXysazDczvny5sBUme5HZIzfUrybjppWIc8aVGb"
    MASTER_KEY: "1o6z9ePR3qPnRU0jHIP4iWToNzkANKIr3UNHwelq"
    DATABASE_URI: "mongodb://intersect:4wabbit4@ds033015.mlab.com:33015/hotornot"
    NODE_ENV: "production"
    SERVER_URL: "http://parseserver-2qqi8-env-test.eu-west-1.elasticbeanstalk.com"
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"